@font-face {
    font-family: 'Maison-Neue';
    font-weight: 400;
    /* Safari, Android, iOS */
    src: url('../../../fonts/MaisonNeue-Demi.ttf') format('truetype');
}
@font-face {
    font-family: 'Maison-Neue';
    font-weight: 300;
    /* Safari, Android, iOS */
    src: url('../../../fonts/MaisonNeue-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Maison-Neue';
    font-weight: 500;
    /* Safari, Android, iOS */
    src: url('../../../fonts/MaisonNeue-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'Maison-Neue';
    font-weight: 700;
    /* Safari, Android, iOS */
    src: url('../../../fonts/MaisonNeue-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Maison-Neue';
    font-weight: normal;
    /* Safari, Android, iOS */
    src: url('../../../fonts/MaisonNeue-Demi.ttf') format('truetype');
}
